<!DOCTYPE html>
<html>
<title>Genral Critic</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<% items.forEach((item) => { %>
          <head>
          <div class="w3-container">
                      <h3><b><%=item.Title%></b></h3>
                    </div>
          </head>
          <body class="w3-blue">
            <p><%=item.Review %></p>
                 

          </body>
    </a>
  <% }) %>


<form action="/">
  <button type="Home button">Home</button>
</form>
</html>